/* form {
    background-color: burlywood;
    
} */

h3 {
    font-size: 1.5em;
    color: rgb(74, 65, 97);
}


#form-container {
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px dashed darkorchid;
  }